
:root {
  --primarytxt:#111111;
  --light: #FAFAFA;
  --grey: #dae1e7;
  --white-dark: hsl(0, 0%, 95%);
  --accent: #FEBB01;
  --black: #1a1a1a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* div as image background */

.header-bg {
  width: 100%;
  height: 100vh;

  background-image: url("/img/magis/jesande-magis-cover.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 1s ease-in-out;
}


@media (max-width:760px) {
  .header-bg {
    background-position: -700px;
  }
}

/*---------------------------  first section - project brief */

/* containers  */

.project-team{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease-in-out;

}

.users-list {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  transition: all 1s ease-in-out;

}

.users-list ul{
  flex-basis: 100px;
  flex-grow:1;
  flex-shrink:1;
}

.users-list img{
  width: 140px;
  margin: 5px;
}

.card-container {
  margin: 4em auto;
  
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (max-width:383px) {
  .users-list {
    display:grid;
  }
  .users-list ul{
    margin: 10px auto;
  }
}

.list-card {
  margin:2%;
  padding: 20px;

  flex-basis: 350px;
  flex-shrink: 200px;
  background-color: white;

  box-shadow: 0px 0px 30px -14px rgba(199,199,199,1);
  border-radius: 10px;
  transition: transform 300ms ease-out 200ms;
}

.list-card:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in 200ms;
}


/* type styles */

.list-card li:first-child{
  margin-left: 0;
  list-style: none;
}

.list-card li{
  margin-left: 20px;
  list-style: circle;
}


/*----------------------------  strategy & solutions */

.strategy-bg{
  max-width: 100%;
  min-height: auto;
  margin: 0;
  padding: 40px 120px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color:var(--grey);
  transition: all 1s ease-in-out;
}

.strategy-title {
  max-width: 50%;
  margin-right: 3em;
}

.strategy-img {
  width: 317px;
  height: auto;
}

.solutions-bg {
  margin: 0;
  padding: 40px 0;
  padding-right: 120px;
  max-width: 100%;
  min-height: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-in-out;

  background-color: var(--grey);
}

.solutions-title {
  max-width: 40%;
}

.solutions-img {
  max-width: 50%;
  flex-shrink: 0;
  height: auto;
}

@media (max-width:850px) {
  .strategy-bg{
    margin: 0;
    padding: 40px 3em;
    display: flex;
    flex-direction: column;
  }
  
  .strategy-title {
    max-width: 100%;
  }
  
  .strategy-img {
    width: 317px;
    height: auto;
  }
  
  .solutions-bg {
    display: flex;
    flex-direction: column;
    padding-right: 0px;

  }
  
  .solutions-title {
    padding: 40px 3em;
    max-width: 100%;
    order:1;
  }
  
  .solutions-img {
    max-width: 100%;
    order:2;
  }
}


/* type styles */

.solutions-bg  h2 {
  max-width: 100%;
}

.list-with-title li:first-child{
  margin-left: 0;
  list-style: none;
}

.list-with-title li{
  margin-left: 20px;
  list-style: circle;
}

/*---------------------------   project solutions */

/* containers  */

.flex-row-space {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  transition: all 1s ease-in-out;
}

.features-wrapper article {
  margin: 2em 0;
}

.features-wrapper img {
  width: 50%;
  height: auto;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 1;
}

.features-wrapper ul {
  padding: 0 2em;
  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 1;
}

@media (max-width:583px) {
    
  .flex-row-space {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features-wrapper img {
    width: 100%;
  }

  .features-wrapper ul {
    padding: 0;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .home-img {
    order:2;
  }

  .home-txt {
    order:1;
  }

  .tool-img {
    order:2;
  }

  .tool-txt {
    order:1;
  }

  .profile-img {
    order:2;
  }

  .profile-txt {
    order:1;
  }

}

.end-img{
  width: 100%;
}
