
:root {
  --primarytxt:#111111;
  --light: #FAFAFA;
  --grey: #dae1e7;
  --white-dark: hsl(0, 0%, 95%);
  --accent: #FEBB01;
  --accent-opacity: rgba(254, 187, 1, 0);
  --black: #1a1a1a;
}


/*---------------------------  project header */


/* div as image background */

.header-bg {
  width: 100%;
  height: 100vh;
  background-image: url("/img/mask/cover-header-01.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* containers */

section {
  margin: 0 auto;
  max-width: 1020px;
  min-height: 100vh;
  /* padding: 0 3em; */
  display: flex;
  flex-direction: column;
  justify-content: center;  
}


section article {
  margin: 1em 0;
}


/* type styles */

.users-list li {
  padding: 0 5%;
  flex-basis: 20%;
  
  text-align: center;
}


.logo-mask {
  width:85px ;
  height: 85px ;
}


/*---------------------------  first section - project brief */

/* containers  */
.persona-section {
  position: relative;
}

.persona-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 1020px;
  height: 437px;
  background-image: url(/img/mask/persona-02.png);
}

.quote {
  display:block;
  margin: .5em;
  padding: .3em;

  text-align: center;
  color: var(--black);
  background-color: #CBD5F3;
  /* border: 1px solid var(--black); */
  border: none;
  border-radius: 10px;
}

.card-container {
  margin:  0;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.list-card {
  margin:2%;
  padding: 3%;

  flex-basis: 40%;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: white;

  box-shadow: 0px 0px 30px -14px rgba(199,199,199,1);
  border-radius: 10px;
  transition: transform 300ms ease-out 200ms;
}

.list-card:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in 200ms;
}


/* type styles */

.list-card li:first-child{
  margin-left: 0;
  list-style: none;
}

.list-card li{
  margin-left: 20px;
  list-style: circle;
}



/*---------------------------  user journey */
/* 
.journey-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: flex-start;

  text-align: center;
  line-height: 1.25em;
}

.tags-dark {
  padding: 2px;
  margin: 3px;

  background-color: var(--grey);
  color: var(--primarytxt);
}

.doble-column {
  grid-column: span 2;
} */


/*---------------------------  project solutions */

/* containers  */
.solutions-bg {
  width: 100%;
  height: 100vh;
  
  position: relative;
  z-index: -1;

  background-image: url("/img/mask/bg_skill.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #CBD5F3;
}

.solutions-title{
  position: absolute;
  top: 20%;
  right: 4em;
  width: 35%;
}


/* type styles */

.thefork-solutions-bg  h2 {
  max-width: 100%;
}

.list-with-title li:first-child{
  margin-left: 0;
  list-style: none;
}

.list-with-title li{
  margin-left: 20px;
  list-style: circle;
}





/*---------------------------  second section - project solutions */

/* containers  */


.end {
  width: 100%;
  height: 100vh;
  background-image: url(/img/mask/end.png);
  background-size: cover;
  background-position: top;
}

/* type styles */

.intelligent-map p {
  max-width: 50%;
}
.features p {
  max-width: 50%;
}

.save-search-info p {
  max-width: 100%;
}




/*---------------------------  tags */

/* container */

.tags-wrapper {
  margin: 3em auto;
  max-width: 100%;
  text-align: center;
}

/* type styles */

.tags {
  display: inline-block;
  margin: .5em;
  padding: 0 .3em;

  font-weight: 400;
  color: var(--black);
  border: 1px solid var(--black);
}

.tags:hover {
  transform: scale(1.1);  
  background-color: var(--grey);
}




/*---------------------------  div - next project */

.next {
  max-width: 100%;
  padding: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;

  line-height: 1em;
}




/*---------------------------  footer */

footer {
  padding: 1em;
  font-size: small;
  text-align: center;
}
