
:root {
  --primarytxt:#111111;
  --light: #FAFAFA;
  --grey: #dae1e7;
  --white-dark: hsl(0, 0%, 95%);
  --accent: #FEBB01;
  --accent-opacity: rgba(254, 187, 1, 0);
  --black: #1a1a1a;
}


/*---------------------------  project header */

.header-bg {
  width: 100%;
  height: 100vh;
  background-image: url("/img/mask/cover-header-01.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

p{
  margin: 0;
}

li{
  margin: 0;
}

section {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

section article {
  margin: 1em 0;
}

.users-list li {
  padding: 0 5%;
  flex-basis: 20%;
  text-align: center;
}

.logo-mask {
  width:85px ;
  height: 85px ;
}


/*---------------------------  project brief */

/* containers  */

.persona-section {
  position: relative;
  margin-bottom: 3em;
}

.persona-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 1020px;
  height: 437px;
  background-image: url(/img/mask/persona-02.png);
}

.quote {
  display:block;
  margin: .5em;
  padding: .3em;

  text-align: center;
  color: var(--black);
  background-color: #CBD5F3;
  border: none;
  border-radius: 10px;
}



/*---------------------------  project solutions */

/* containers  */

.solutions-bg {
  width: 100%;
  height: 100vh;
  
  position: relative;
  z-index: -1;

  background-image: url("/img/mask/bg_skill.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #CBD5F3;
  background-attachment: fixed;
}

.solutions-title{
  position: absolute;
  top: 20%;
  right: 4em;
  width: 35%;
}



/*---------------------------  second section - project solutions */

/* containers  */

.end {
  width: 100%;
  height: 70vh;
  background-image: url(/img/mask/end.png);
  background-size: cover;
  background-position: top;
}

/* type styles */

.intelligent-map p {
  max-width: 50%;
}
.features p {
  max-width: 50%;
}

.save-search-info p {
  max-width: 100%;
}



/*---------------------------  tags */

/* container */

.tags-wrapper {
  margin: 3em auto;
  max-width: 100%;
  text-align: center;
}

/* type styles */

.tags {
  display: inline-block;
  margin: .5em;
  padding: 0 .3em;

  font-weight: 400;
  color: var(--black);
  border: 1px solid var(--black);
}

.tags:hover {
  transform: scale(1.1);  
  background-color: var(--grey);
}



/*---------------------------  div - next project */

.next {
  max-width: 100%;
  padding: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;

  line-height: 1em;
}
