
:root {
  --primarytxt:#111111;
  --light: #FAFAFA;
  --grey: #dae1e7;
  --white-dark: #f2f2f2;
  --accent: #FEBB01;
  --accent-opacity: rgba(254, 187, 1, 0);
  --black: #1a1a1a;
}

section {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

section article {
  margin: 1em 0;
}

p{
  margin: 0;
}

li{
  margin: 0;
}


/*---------------------------  project header */

.header-bg {
  width: 100%;
  height: 100vh;

  padding: 6em;
  background-image: url("/img/music/jesande-music-identity-cover.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.users-list li {
  padding: 0 5%;
  flex-basis: 20%;
  text-align: center;
}


/*---------------------------  project brief */

.research-section {
  height: 100%;
  padding: 3em 6em;
  margin: 0;
  background-color: white;
}


.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  auto;
  grid-row-gap: 120px;
  grid-column-gap: 60px ;
}

.lyrics{
  align-self: center;
  color: rgb(160, 8, 8);
}


/*---------------------------   moodboard */

.mood-section {
  background-color: white;
  display: flex;
}
/* containers  */
.mood-container {
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: auto 60%;
  grid-template-rows: auto;
}

.mood-list {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
}

.mood-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  align-self: center;
  padding: 120px 0;
}

.mood-img{
  width: 100%;
  height: auto;
  grid-column: 2/3;
  grid-row: 1/-1;
}

/*---------------------------   solutions */
.solutions-container {
}
