:root {
  --primarytxt:#111111;
  --light: #FAFAFA;
  --grey: #dae1e7;
  --white-dark: hsl(0, 0%, 95%);
  --accent: #FEBB01;
  --accent-opacity: rgba(254, 187, 1, 0);
  --black: #1a1a1a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global */

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;

  /* scroll-behavior: smooth; */
}

@media (max-width:768px) {
  html {
    font-size: 16px;
    line-height: 1.3em;
  }
}

@media (max-width:465px) {
  html {
    font-size: 14px;
    line-height: 1.3em;
  }
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--light);
  color: var(--primarytxt);
}

section {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

@media (max-width:768px) {
  section {
    padding: 0 3em;
  }
}

img {
  display: block;
}

/* type styles */

h1, h2, h3, h4 {
  margin: .5em 0;
  line-height: 1.5em;
}

h1 {
  max-width: 50%;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.15em;
}

h2 {
  max-width: 90%;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primarytxt); 
  font-size: 1.9rem;
}

@media (max-width:768px) {
  h1 {
    max-width:80%;
    font-size: 2.8rem;
  }
  
  h2 {
    max-width: 100%;
    font-size: 1.5em;
  }
}

@media (max-width:465px) {
  h1 {
    font-size: 2.5rem;
  }
  
  h2, .h2 {
    font-size: 1.25em;
  }
}

p{
  margin: .5em 0;
}

li{
  margin: .5em 0;
}

a {
  font-weight: 400;
  text-decoration: none;
  color:var(--primarytxt);
}

a:hover {
  text-decoration: none;
  color:var(--accent);
}
  
/* list */

.flex-list {
  display: flex;
  flex-flow: row ;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.reset-list {
  padding: 0;
}
  
.reset-list  li{
  list-style: none;
}

.list-with-title li:first-child{
  margin-left: 0;
  list-style: none;
}

.list-with-title li{
  margin-left: 20px;
  list-style: circle;
}

/* cards  */

.card-container {
  margin:  0;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.list-card {
  margin:2%;
  padding: 3%;

  flex-basis: 40%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: white;

  box-shadow: 0px 0px 30px -14px rgba(199,199,199,1);
  border-radius: 10px;
  transition: transform 300ms ease-out 200ms;
}

.list-card:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in 200ms;
}



/*----------------------- nav */


.main-nav {
  width: 100%;
  padding: 0 3em;

  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 45px;
  height: 40px;
  background-image: url(/img/logo.svg);
  background-position: left;
  background-size: cover;
}

.logo:hover {
  background-image: url(/img/logo-accent.svg);
  background-position: left;
  background-size: cover;
  background-color:var(--accent-opacity);
}



/*-------------------------------------------- dots nav*/

nav#dot-nav {
  position: fixed;
  right: 20px;
  top: 20px;
  mix-blend-mode: multiply;
}

nav#dot-nav a {
  border: 1px solid var(--grey);
  background-color:  var(--grey);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 10px;
}

nav#dot-nav a:hover {
  background-color:  var(--grey);
  border: 1px solid var(--black);  
  border-radius: 50%;
  display: block;
  margin: 10px;
}

nav#dot-nav a.active {
  background: var(--black);  
  border: 1px solid var(--black);  
}

@media (max-width:465px) {
  nav#dot-nav {
    display: none;
  }
} 
/*-------------------------------------------- brief */

.project-team {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width:945px) {
  .project-team{
    width: 80%;
  }
}

/*---------------------------  tags */

/* container */

.tags-wrapper {
  margin: 3em auto;
  padding: 0 120px;
  max-width: 100%;
  text-align: center;
}

@media (max-width:768px) {
  .tags-wrapper {
    padding: 5%;
    max-width: 100%;
    text-align: left;
  }
}

/* type styles */

.tags {
  display: inline-block;
  margin: .5em;
  padding: 0 .3em;

  font-weight: 400;
  color: var(--black);
  border: 1px solid var(--black);
}

.tags:hover {
  transform: scale(1.05);  
  background-color: var(--grey);
}

/*-------------------------------------------- footer */

.next {
  max-width: 100%;
  padding: 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;

  line-height: 1em;
}

footer {
  padding: 1em;
  font-size: small;
  text-align: center;
}

.socialicon {
  width: 45px;
  height: 45px;
  display: inline-block;
}

.behance {
 background-image: url(/img/icon-be.svg);
 background-repeat: no-repeat;
}

.behance:hover {
  background-image: url(/img/icon-be-hover.svg);
}