/* colors 
primary: #7E4BFC
purple bg #5834B3
grey_bg: #FAFAFA
grey-txt: ##666666
grey-txt-light: #8F8F94
--yellow: #fcab2f;
--yellow2: #ffde22;
*/
:root {
  --primarytxt: #7E4BFC;
  --txtgrey: #3f3f3f;
  --primarybg: #5834B3;
  --light: #FAFAFA;
  --accent: #14f501;
  --black: #1a1a1a;
  --grey: #dee1e0;
}

* {
  /* border: 1px solid green; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: 'Courier New', Courier, monospace;
  font-size: .9em;
  color: var(--primarytxt);

}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  
  box-shadow: 0px 0px 39px -14px rgb(0, 0, 0);
}

main {
  margin: 0 auto;
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

a {
  font-family: 'Courier New', Courier, monospace;
  font-size: inherit;
  text-decoration: none;
  color:var(--txtgrey);
  color:var(--accent);
  color: var(--primarytxt);
  

}

a:hover {
  text-decoration: underline;
  color: var(--txtgrey);
  color: var(--accent);

}

/*-------------------------------------------- nav */

nav{
  width: 100%;
  height: 50px;
  padding: 5%;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*-------------------------------------------- header */

header {
  /* max-width: 900px; */
  margin: 150px auto 50px;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  /* background-color: var(--black); */
}

h1 {
  max-width: 400px;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.17em;

}
/*-------------------------------------------- behind the results */


.behind-content {
  max-width: 400px;
  /* background-color: var(--light); */
  padding: 30px;
  /* position: absolute; */
  /* top: 280px;
  right: 0;  */
  z-index: -1;
  align-self: flex-end;
  transform: translateX(100%);
  transition: transform 200ms ease-in;

}
.behind-content {
  max-width: 400px;
  /* background-color: var(--light); */
  /* padding: 30px; */
  /* position: absolute; */
  margin: 0;
  /* align-self: flex-end; 
  transform: translateX(230%);
  transition: transform 200ms ease-in;*/
  display: none;
}

.behind-content-visible {
  display: block;
  /* position: relative;
  top: 0;
  right: -150px; */
  align-self: flex-end; 
  /* transform: translateX(100%);*/
}

.behind-content h2 {
  font-size: .9em;
  margin-top: 1em;
}

.behind-content p{
  margin-top: .6em;
}

/*-------------------------------------------- section results */

section {
  margin: 0 auto;
  max-width: 900px;
  
  display: grid;
  align-content: center;
  justify-content: start;
}

.results img {
  max-width: 900px;
}
/*-------------------------------------------- footer */

footer {
  width: 100%;
  height: 50px;
  padding: 5%;
  text-align: right;
}
