:root {
  --primarytxt:#111111;
  --light: #FAFAFA;
  --grey: #dae1e7;
  --accent: #5834B3;
  --accent: #d29b03;
  --accent: #FEBB01;
  --black: #1a1a1a;
}

* {
  /* border: 1px solid green; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  
  background-color: var(--light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  color: var(--primarytxt);
}

img {
  display: block;
}

h1, h2, h3, h4 {
  margin: .5em 0;
  line-height: 1.5em;
}

h1, .h1 {
  max-width: 50%;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.15em;
}

h2, .h2 {
  font-size: 1.9rem;
  font-weight: 300;
  line-height: 1.25;
  color: var(--primarytxt); 
}

p, li{
  margin: .5em 0;
}

a, .bold {
  font-weight: 400;
  text-decoration: none;
  color:var(--primarytxt);
}

a:hover {
  text-decoration: none;
  color:var(--accent);
}

.reset-list {
  padding: 0;
}
  
.reset-list  li{
  list-style: none;
}

header {
  width: 100%;
  padding: 0 3em;

  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

nav ul li {
  padding: 0 0 0 30px;
}

.logo {
  width: 45px;
  height: 40px;
  background-image: url(img/logo.svg);
  background-position: left;
  background-size: cover;
}

.logo:hover {
  background-image: url(img/logo-accent.svg);
  background-position: left;
  background-size: cover;
}

/*-------------------------------------------- dots nav*/

nav#dot-nav {
  position: fixed;
  right: 20px;
  top: 20px;
}

nav#dot-nav a {
  border: 1px solid var(--black);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 10px;
}

nav#dot-nav a.active, nav#dot-nav a:first-child {
  background: var(--black);
}

/*-------------------------------------------- sections general*/

section, .about-content {
  min-height: 100vh;
  padding: 0 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#work, #about, #contact {
  min-height: 80vh;
}

#work, #about .section-content{
  max-width: 70%;
}

/*-------------------------------------------- projects */

/* #project-list {
  margin: 0;
}

.project-container {
  padding: 0;
  margin: 4em auto;

  max-width: 1020px;
  height: 437px;
  box-shadow: 0px 0px 39px -14px rgba(199,199,199,1);
  transition: transform 300ms ease-out 200ms;
}

.project-container:hover {
  transform: scale(1.05);
  transition: transform 300ms ease-in 250ms;
}

.project-content {
  margin: 0;
  padding: 0;

  position: relative;
}

.project-img {
  max-width: 100%;
  margin: 0;
}

.project-label-container {
  position: absolute;
  top: 40%;
  left: 5%;

  width: 300px;
} */

.project-link {
  color: var(--primarytxt);
}

.project-link:hover {
  color: var(--primarytxt);
}

.project-container {
  padding: 0;
  margin: 4em auto;
  
  position: relative;
  
  max-width: 1020px;
  height: 437px;
  box-shadow: 0px 0px 39px -14px rgba(199,199,199,1);
  transition: transform 300ms ease-out 200ms;
}

.project-container:hover{
  transform: scale(1.05);
  transition: transform 300ms ease-in 250ms;
}
.project-container a:hover{
 color: var(--primarytxt);

}

.project-label {
  position: absolute;
  top: 35%;
  left: 5%;

  width: 400px;
}


.thefork-container {
  background-image: url(img/thefork/cover-01.png);
  background-position: center;
  background-size: cover;
}

.magis-container {
  background-image: url(img/magis/cover-01.png);
  background-position: center;
  background-size: cover;
}
.magis-container *{
  color: var(--grey);
}

.mask-container {
  background-image: url(img/mask/cover-01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



/*-------------------------------------------- about */

.about-content {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-abstrat {
max-width: 55%;
min-width: 50%;
} 

.about-aside {
max-width: 25%;
min-width: 25%;
}


.about-abstrat,.about-aside p:nth-child(even){
  margin:0 0 1.5rem;
}



/*-------------------------------------------- contact */
.socialcontainer {
  display: flex;

  /* display: inline-block; */
}

.socialicon {
  margin: 20px 30px 0 0;
  /* height: 3rem; */
  width: 45px;
  height: 45px;
  display: inline-block;
}

.behance {
 background-image: url(img/icon-be.svg);
 background-repeat: no-repeat;
}

.behance:hover {
  background-image: url(img/icon-be-hover.svg);
}

.mail {
 background-image: url(img/icon-mail.svg);
 background-repeat: no-repeat;
}

.mail:hover{
  background-image: url(img/icon-mail-hover.svg);
}
.instagram {
 background-image: url(img/icon-ig.svg);
 background-repeat: no-repeat;
}

.instagram:hover{
  background-image: url(img/icon-ig-hover.svg);
}
.linkedin {
 background-image: url(img/icon-linkedin.svg);
 background-repeat: no-repeat;
}

.linkedin:hover{
  background-image: url(img/icon-linkedin-hover.svg);
}



/*-------------------------------------------- footer */
footer {
  padding: 1em;
  font-size: small;
  text-align: center;
}
