/* colors 
primary: #7E4BFC
purple bg #5834B3
grey_bg: #FAFAFA
grey-txt: ##666666
grey-txt-light: #8F8F94
--yellow: #fcab2f;
--yellow2: #ffde22;
*/
:root {
  --primarytxt: #7E4BFC;
  --txtgrey: #333333;
  --primarybg: #5834B3;
  --light: #FAFAFA;
  --accent: #14f501;
  --black: #1a1a1a;
  --grey: #dee1e0;


}

* {
  /* border: 1px solid green; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  font-family: 'Courier New', Courier, monospace;
  font-size: .9em;
  color: var(--txtgrey);
  /* color: var(--black); */
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

/*-------------------------------------------- Typo styles */

.title, .intro {
  /* margin-top: 4em; */
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  line-height: 1.17em;
  color: var(--primarytxt); 
  /* color: white;  */
}

.title {
  font-size: 4rem;
}

.intro {
  margin: 1rem 0 0 0;
  max-width: 50%;
  font-size: 1.9em;
}

a {
  font-size: 1rem;
  color:var(--accent);
}

.project-title {
  margin-bottom: .45em;
  font-family:'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.1em;
  text-align: center;
  color: var(--primarytxt);
}

.main-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 1em;
  width: 400px;


/* animation in languages */

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid var(--accent); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 ; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(15, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--accent) }
}

/*-------------------------------------------- header */
header {
  width: 100%;
  padding: 0 3em;

  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav{
  display: flex;
  align-content: space-around;
}

header a {
  padding: 10px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  /* border: white solid 1px; */
}

header a:hover {
  text-decoration: line-through ;
}


/*-------------------------------------------- sections general*/

section {
  min-height: 100vh;
  padding: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-content {
  max-width: 75%;
}

#home, #about, #contact {
  background-color: var(--primarybg);
} 
#home * {
  color:white;
} 
#about * {
  color:white;
} 
#contact * {
  color:white;
} 


/*-------------------------------------------- home */

/* #home article {
  width: 60%;
} */



/*-------------------------------------------- projects */

#project-list {
  display: block;
  margin: 0;
}

.project-container {
  padding: 0;
  margin: 4em auto;


  max-width: 980px;
  box-shadow: 0px 0px 39px -14px rgba(199,199,199,1);
}

.project-content {
  position: relative;
}
 /*
.project-link {
  img al 40% 
}
.project-link:hover {
  on hover img al 100% 
}
*/
.project-img {
  max-width: 100%;
  margin: 0 auto;
  opacity: 40%;
}

.project-img:hover {
  opacity: 100%;
}

.project-label-container {
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 152px);
}

.project-label-content {
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* border: rgb(0, 187, 16) solid 2px; */
}

/*-------------------------------------------- about */

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.about-abstrat{
 max-width: 50%;
} 

.about-aside {
  max-width: 25%;
}

.about-abstrat p{
  margin-bottom: 1em;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #7E4BFC;
}
.about-abstrat a{
  margin-bottom: 1em;
  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.about-aside ul{
  margin-bottom: 1em;
}

/*-------------------------------------------- contact */
.socialcontainer {
  display: flex;

  /* display: inline-block; */
}

.socialicon {
  margin: 20px 30px 0 0;
  /* height: 3rem; */
  width: 45px;
  height: 45px;
  display: inline-block;
}

.behance {
 background-image: url(img/icon-be.svg);
 background-repeat: no-repeat;
}

.behance:hover {
  background-image: url(img/icon-be-hover.svg);
}

.mail {
 background-image: url(img/icon-mail.svg);
 background-repeat: no-repeat;
}

.mail:hover{
  background-image: url(img/icon-mail-hover.svg);
}
.instagram {
 background-image: url(img/icon-ig.svg);
 background-repeat: no-repeat;
}

.instagram:hover{
  background-image: url(img/icon-ig-hover.svg);
}
.linkedin {
 background-image: url(img/icon-linkedin.svg);
 background-repeat: no-repeat;
}

.linkedin:hover{
  background-image: url(img/icon-linkedin-hover.svg);
}



/*-------------------------------------------- footer */
footer {
  padding: 1em;

  background-color: #5834B3;

  color: #FAFAFA;
  text-align: center;

}